<!-- Cube Campaign Starts -->
<div id="campaignsystem" class="CampaignMain displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<!-- Cube DataBox Starts -->
	<div class="app-body">
		<div class="app-body-inner">
			<div class="row-col">
				<div class="col-xs-2 w-sm" id="subnav">
					<div class="row-col black bg">
						<!-- header -->
						<div class="box-shadow-z1">
							<div class="navbar">
								<ul class="nav navbar-nav">
									<li class="nav-item">
										<span class="navbar-item text-md">Campaign</span>
									</li>
								</ul>
							</div>
						</div>
						<!-- flex content -->
						<div class="row-row">
							<div class="row-body scrollable hover">
								<div class="row-inner">
									<!-- content -->
									<div class="navside m-x-xs m-t">
										<nav class="nav-stacked nav-stacked nav-active-info">
											<ul class="nav" data-ui-nav>
												<li class="active">
													<div href="#inbox">
														<span class="nav-label">
															<b class="label primary ">12</b>
														</span>
														<span class="nav-icon">
															<i class="ion-ios-filing"></i>
														</span>
														<span class="nav-text">Live</span>
													</div>
												</li>
												<li>
													<div href="#sent">
														<span class="nav-label">
															<b class="label info ">4</b>
														</span>
														<span class="nav-icon">
															<i class="ion-paper-airplane"></i>
														</span>
														<span class="nav-text">Paused</span>
													</div>
												</li>
												<li>
													<div href="#draft">
														<span class="nav-label">
															<b class="label ">30</b>
														</span>
														<span class="nav-icon">
															<i class="ion-clipboard"></i>
														</span>
														<span class="nav-text">Direct</span>
													</div>
												</li>
												<li>
													<div href="#trash">
														<span class="nav-label">
															<b class="label ">6</b>
														</span>
														<span class="nav-icon">
															<i class="ion-trash-b"></i>
														</span>
														<span class="nav-text">Draft</span>
													</div>
												</li>
												<li>
													<div href="#trash">
														<span class="nav-label">
															<b class="label ">6</b>
														</span>
														<span class="nav-icon">
															<i class="ion-trash-b"></i>
														</span>
														<span class="nav-text">Archived</span>
													</div>
												</li>
											</ul>
										</nav>
									</div>
									<div class="navside m-x-xs m-t">
										<div class="p-y p-x">
											<button class="btn info">Create New Campaign 
												<b class="label rounded success m-l-xs">+</b>
											</button>
										</div>
										<div class="p-x p-y text-sm">Advanced</div>
										<nav class="nav-stacked nav-stacked-rounded">
											<ul class="nav" data-ui-nav>
												<li class="active">
													<div href="#inbox">
														<span class="nav-icon">
															<i class="ion-ios-filing"></i>
														</span>
														<span class="nav-text">Insight</span>
													</div>
												</li>
												<li>
													<div href="#sent">
														<span class="nav-icon">
															<i class="ion-paper-airplane"></i>
														</span>
														<span class="nav-text">Conversion Rate</span>
													</div>
												</li>
												<li>
													<div href="#draft">
														<span class="nav-icon">
															<i class="ion-clipboard"></i>
														</span>
														<span class="nav-text">BroadCast</span>
													</div>
												</li>
												<div class="p-x p-y-sm m-t text-sm">coming soon</div>
												<li>
													<div href="#trash">
														<span class="nav-icon">
															<i class="ion-trash-b"></i>
														</span>
														<span class="nav-text">Automation</span>
													</div>
												</li>
												<li>
													<div href="#trash">
														<span class="nav-icon">
															<i class="ion-trash-b"></i>
														</span>
														<span class="nav-text">Opt-in Forms ( Free )</span>
													</div>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
						<!-- / -->
						<!-- footer -->
						<div class="p-x-md p-y">
							<div class="text-muted text-sm">
								<span class="pull-right text-primary">35%</span>
								<span>Status: </span>
							</div>
						</div>
						<!-- / -->
					</div>
				</div>
				<div class="col-xs-3 w-xl" id="list">
					<div class="row-col lt">
						<!-- header -->
						<div class="p-a">
							<form>
								<div class="input-group campaignSearch">
									<input type="text" class="form-control form-control-sm" placeholder="Search" required="">
										<span class="input-group-btn">
											<button class="btn btn-default btn-sm no-shadow" type="button">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</div>
							<!-- / -->
							<!-- flex content -->
							<div class="row-row">
								<div class="row-body scrollable hover">
									<div class="row-inner">
										<!-- left content -->
										<div class="list inset" data-ui-list="info">
											<div class="list-item clear m-x">
												<div class="list-left w-md">
													<div class="item-title">
														<a href="#" class="_500">New Campaign</a>
													</div>
													<small class="block text-muted text-ellipsis">
														<b>7</b> Step Drip Series
													</small>
												</div>
												<div class="list-body">
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">From</div>
														<div class="list-body-data">Farooq</div>
													</div>
													<div class="list-body-box pull-left p-x p-y-sm">
														<div class="list-body-data v-m ">
															<i class="ion-ios-person-outline"></i>
															<i class="text p-x-sm">78</i>
														</div>
													</div>
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">Send</div>
														<div class="list-body-data">1524</div>
													</div>
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">Opened</div>
														<div class="list-body-data">99</div>
													</div>
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">Clicked</div>
														<div class="list-body-data">25</div>
													</div>
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">Unsub</div>
														<div class="list-body-data">8</div>
													</div>
													<div class="list-body-box pull-left p-x">
														<div class="list-body-head">Goal</div>
														<div class="list-body-data">85%</div>
													</div>
												</div>
											</div>
										</div>
										<!-- / -->
									</div>
								</div>
							</div>
							<!-- / -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Cube DataBox Ends -->
	</div>
	<!-- Cube Campaign Ends -->