            
<!-- Cube ContactsMain Starts -->
<div id="contactbox" class="ContactsMain displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<!-- Cube DataBox Starts -->
	<div class="app-body">
		<div class="app-body-inner">
			<div class="row-col">
				<div class="white bg b-b">
					<div class="navbar no-radius box-shadow-z1">
						<a data-toggle="modal" data-target="#subnav" data-ui-modal class="navbar-item pull-left hidden-lg-up">
							<span class="btn btn-sm btn-icon info">
								<i class="fa fa-th"></i>
							</span>
						</a>
						<a data-toggle="modal" data-target="#list" data-ui-modal class="navbar-item pull-left hidden-md-up">
							<span class="btn btn-sm btn-icon white">
								<i class="fa fa-list"></i>
							</span>
						</a>
						<!-- link and dropdown -->
						<ul class="nav navbar-nav">
							<li class="nav-item">
								<span class="navbar-item text-md">Contacts</span>
							</li>
							<li class="nav-item">
								<a class="nav-link text-muted" data-toggle="modal" data-target="#modal-new" title="Reply">
									<span class="">
										<i class="fa fa-fw fa-plus"></i>
										<span class="hidden-sm-down">New contact</span>
									</span>
								</a>
							</li>
						</ul>
						<!-- / link and dropdown -->
					</div>
				</div>
				<div class="row-row">
					<div class="row-col">
						<div class="col-xs w modal fade aside aside-md b-r" id="subnav">
							<div class="row-col light bg">
								<!-- flex content -->
								<div class="row-row">
									<div class="row-body scrollable hover">
										<div class="row-inner">
											<!-- content -->
											<div class="navside m-t">
												<nav class="nav-border b-primary" data-ui-nav>
													<ul class="nav">
														<li class="active">
															<div href="#">
																<span class="nav-label">
																	<b class="label warn rounded">32</b>
																</span>
																<span class="nav-text">All Contacts</span>
															</div>
														</li>
														<li>
															<div href="#">
																<span class="nav-label">
																	<b class="label primary rounded">4</b>
																</span>
																<span class="nav-text">Added By Me</span>
															</div>
														</li>
														<li class="nav-header hidden-folded m-t">
															<span class="block p-t b-t text-sm text-muted _600">Lists</span>
														</li>
														<li>
															<div href="#">
																<span class="nav-label">
																	<b class="label label-xs primary">&nbsp;</b>
																</span>
																<span class="nav-text">Clients</span>
															</div>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
								<!-- / -->
								<!-- footer -->
								<div class="p-a b-t">
									<a href="#" class="btn btn-xs primary">
										<i class="fa fa-plus m-r-xs"></i> Create New List
									</a>
								</div>
								<!-- / -->
							</div>
						</div>
						<div class="col-xs modal fade aside aside-sm  b-r" id="list">
							<div class="row-col">
								<div class="row-row">
									<!-- header -->
									<div class="p-a">
										<form>
											<div class="input-group ContactSearch">
												<input type="text" class="form-control form-control-sm" placeholder="Search" required="">
													<span class="input-group-btn">
														<button class="btn btn-default btn-sm no-shadow" type="button">
															<i class="fa fa-search"></i>
														</button>
													</span>
												</div>
											</form>
										</div>
										<!-- / -->
										<div class="row-col">
											<div class="col-xs">
												<div class="row-col white bg">
													<!-- flex content -->
													<div class="row-row">
														<div class="row-body scrollable hover">
															<div class="row-inner">
																<!-- left content -->
																<div class="list" data-ui-list="b-r b-3x b-primary" data-ui-list-target="#detail" data-ui-list-target-class="show">
																	<div class="list-item ">
																		<div class="list-left">
																			<span class="w-40 avatar blue-grey">R</span>
																		</div>
																		<div class="list-body">
																			<div class="pull-right dropdown">
																				<a href="#" data-toggle="dropdown" class="text-muted">
																					<i class="fa fa-fw fa-ellipsis-v"></i>
																				</a>
																				<div class="dropdown-menu pull-right text-color" role="menu">
																					<a class="dropdown-item">
																						<i class="fa fa-tag"></i> Tag item 
																					</a>
																					<a class="dropdown-item">
																						<i class="fa fa-pencil"></i> Edit item 
																					</a>
																					<a class="dropdown-item">
																						<i class="fa fa-trash"></i> Delete item 
																					</a>
																					<div class="dropdown-divider"></div>
																					<a class="dropdown-item">
																						<i class="fa fa-ellipsis-h"></i> More action 
																					</a>
																				</div>
																			</div>
																			<div class="item-title">
																				<a href="#" class="_500">Radionomy</a>
																			</div>
																			<small class="block text-muted text-ellipsis">radionomy@gmail.com</small>
																		</div>
																	</div>
																</div>
																<!-- / -->
															</div>
														</div>
													</div>
													<!-- / -->
												</div>
											</div>
										</div>
									</div>
									<!-- footer -->
									<div class="white bg p-a b-t clearfix">
										<div class="btn-group pull-right">
											<a href="#" class="btn btn-xs white circle">
												<i class="fa fa-fw fa-angle-left"></i>
											</a>
											<a href="#" class="btn btn-xs white circle">
												<i class="fa fa-fw fa-angle-right"></i>
											</a>
										</div>
										<span class="text-sm text-muted">Total: 
											<strong>10</strong>
										</span>
									</div>
									<!-- / -->
								</div>
							</div>
							<div class="col-xs hidden-lg-up" id="detail">
								<div class="row-col white bg">
									<!-- flex content -->
									<div class="row-row">
										<div class="row-body scrollable hover">
											<div class="row-inner">
												<!-- content -->
												<div class="p-a-lg text-center">
													<img src="images/a3.jpg" class="w circle animated rollIn" alt=".">
														<div class="animated fadeInUp">
															<div>
																<span class="text-md m-t block">Judith Garcia</span>
																<small class="text-muted">Product Designer</small>
															</div>
															<div class="block clearfix m-t">
																<a href="" class="btn btn-icon btn-social rounded indigo">
																	<i class="fa fa-facebook"></i>
																	<i class="fa fa-facebook"></i>
																</a>
																<a href="" class="btn btn-icon btn-social rounded light-blue">
																	<i class="fa fa-twitter"></i>
																	<i class="fa fa-twitter"></i>
																</a>
																<a href="" class="btn btn-icon btn-social rounded red">
																	<i class="fa fa-google-plus"></i>
																	<i class="fa fa-google-plus"></i>
																</a>
															</div>
														</div>
													</div>
													<div class="p-a-md animated fadeInUp">
														<ul class="nav">
															<li class="nav-item m-b-xs">
																<a class="nav-link text-muted block">
																	<span class="pull-right text-sm">
																		<i class="fa fa-fw fa-map-marker"></i>
																	</span>
																	<span>Paris</span>
																</a>
															</li>
															<li class="nav-item m-b-xs">
																<a class="nav-link text-muted block">
																	<span class="pull-right text-sm">
																		<i class="fa fa-fw fa-phone"></i>
																	</span>
																	<span>123-456-789</span>
																</a>
															</li>
															<li class="nav-item m-b-xs">
																<a class="nav-link text-muted block">
																	<span class="pull-right text-sm">
																		<i class="fa fa-fw fa-birthday-cake"></i>
																	</span>
																	<span>July 03</span>
																</a>
															</li>
															<li class="nav-item m-b-xs">
																<a class="nav-link text-muted block">
																	<span class="pull-right text-sm">
																		<i class="fa fa-fw fa-envelope"></i>
																	</span>
																	<span>Judithgarcia@gmail.com</span>
																</a>
															</li>
														</ul>
													</div>
													<!-- / -->
												</div>
											</div>
										</div>
										<!-- / -->
										<!-- footer -->
										<div class="p-a b-t clearfix">
											<div class="pull-right">
												<a href="#" class="btn btn-xs white rounded">
													<i class="fa fa-trash m-r-xs"></i> Delete 
												</a>
											</div>
											<a href="#" class="btn btn-xs primary rounded">
												<i class="fa fa-pencil m-r-xs"></i> Edit 
											</a>
										</div>
										<!-- / -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Cube DataBox Ends -->
		</div>
		<!-- Cube ContactsMain Ends -->