<!-- Cube DashboardMainBox Starts -->
<div id="dashboardbox" class="DashboardMainBox app-content box-shadow-z2 bg pjax-container" role="main">
	<!-- Cube FinderBox Starts -->
	<div id="FinderBox" class="app-header white bg b-b">
		<div class="navbar">
			<a class="navbar-item pull-left hidden-lg-up p-r m-a-0">
				<i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">
				<nav class="">
					<ul class="nav" data-ui-nav>
						<li>
							<div id="dashboard.html" class="b-danger">
								<span class="nav-icon text-white no-fade">
									<i class="ion-filing"></i>
								</span>
								<span class="nav-text">Dashboard</span>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- Cube FinderBox Ends -->
	<!-- Cube DataBox Starts -->
	<div class="app-body">
		<div class="row-col">
			<div class="col-lg b-r">
				<!-- Quick Analytics Starts -->
				<div class="row no-gutter">
					<div class="col-xs-6 col-sm-3 b-r b-b">
						<div class="padding">
							<div>
								<span class="pull-right">
									<i class="fa fa-caret-up text-primary m-y-xs"></i>
								</span>
								<span class="text-muted l-h-1x">
									<i class="ion-ios-grid-view text-muted"></i>
								</span>
							</div>
							<div class="text-center">
								<h2 class="text-center _600">{{:totalcontal}}</h2>
								<p class="text-muted m-b-md">Total Contacts</p>
								<div>
									<span data-ui-jp="sparkline" data-ui-options="[2,3,2,2,1,3,6,3,2,1], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 b-r b-b">
						<div class="padding">
							<div>
								<span class="pull-right">
									<i class="fa fa-caret-up text-primary m-y-xs"></i>
								</span>
								<span class="text-muted l-h-1x">
									<i class="ion-document text-muted"></i>
								</span>
							</div>
							<div class="text-center">
								<h2 class="text-center _600">7</h2>
								<p class="text-muted m-b-md">Campaigns Live</p>
								<div>
									<span data-ui-jp="sparkline" data-ui-options="[1,1,0,2,3,4,2,1,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 b-r b-b">
						<div class="padding">
							<div>
								<span class="pull-right">
									<i class="fa fa-caret-down text-danger m-y-xs"></i>
								</span>
								<span class="text-muted l-h-1x">
									<i class="ion-paper-airplane text-muted"></i>
								</span>
							</div>
							<div class="text-center">
								<h2 class="text-center _600">8</h2>
								<p class="text-muted m-b-md">Emails Send</p>
								<div>
									<span data-ui-jp="sparkline" data-ui-options="[9,2,5,5,7,4,4,3,2,2], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 b-b">
						<div class="padding">
							<div>
								<span class="pull-right">
									<i class="fa fa-caret-up text-primary m-y-xs"></i>
								</span>
								<span class="text-muted l-h-1x">
									<i class="ion-pie-graph text-muted"></i>
								</span>
							</div>
							<div class="text-center">
								<h2 class="text-center _600">36</h2>
								<p class="text-muted m-b-md">Credits Usage</p>
								<div>
									<span data-ui-jp="sparkline" data-ui-options="[3,3,1,62,4,3,7,3,2,5], {type:'line', height:20, width: '60', lineWidth:1, valueSpots:{'0:':'#818a91'}, lineColor:'#818a91', spotColor:'#818a91', fillColor:'', highlightLineColor:'rgba(120,130,140,0.3)', spotRadius:0}" class="sparkline inline"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Quick Analytics Ends -->
				<!--  Contact Info Starts -->
				<div class="recentsearch">
					<div class="box SearchRecentMBox">
						<div class="box-lined-header">
							<h2>Recent Activities</h2>
						</div>
						<div class="box-body">
							<div class="contactBox">
								<div class="contactBoxIndi">
									<div class="contactBoxProfilePic" alt="NN"></div>
									<div class="contactBoxMid">
										<div class="contactBoxName">Naymer Name</div>
										<div class="contactBoxEmail">naymer@name.com</div>
									</div>
									<div class="contactBoxRight">
										<div class="lookUpBox">
											<img src="images/next.svg" />
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  Contact Info Ends -->
				<!-- Recent Activities Starts -->
				<div class="recentactivities">
					<div class="box SearchRecentMBox">
						<div class="box-lined-header">
							<h2>Recent Activities</h2>
						</div>
						<div class="box-body">
							<div>
								<div class="streamline m-b">
									<div class="sl-item">
										<div class="sl-content">
											<div class="SearchRecentTypeDate">
												<div class="SearchRecentType lefter">Prospects Enhance</div>
												<div class="cube-date">Just Now</div>
											</div>
											<div class="SearchRecentContent">
												<p>Finished task 
													<a href="#" class="text-info">#features 4</a>.
												</p>
											</div>
										</div>
									</div>
									<div class="sl-item b-success">
										<div class="sl-content">
											<div class="SearchRecentTypeDate">
												<div class="SearchRecentType lefter">Location Search</div>
												<div class="cube-date">Just Now</div>
											</div>
											<div class="SearchRecentContent">
												<p>Finished task 
													<a href="#" class="text-info">#features 4</a>.
												</p>
											</div>
										</div>
									</div>
									<div class="sl-item b-primary">
										<div class="sl-content">
											<div class="SearchRecentTypeDate">
												<div class="SearchRecentType lefter">Company Lookup</div>
												<div class="cube-date">Just Now</div>
											</div>
											<div class="SearchRecentContent">
												<p>Finished task 
													<a href="#" class="text-info">#features 4</a>.
												</p>
											</div>
										</div>
									</div>
									<div class="sl-item b-info">
										<div class="sl-content">
											<div class="SearchRecentTypeDate">
												<div class="SearchRecentType lefter">Prospect Finder</div>
												<div class="cube-date">05:45 AM - 10/11/2016</div>
											</div>
											<div class="SearchRecentContent">
												<p>Finished task 
													<a href="#" class="text-info">#features 4</a>.
												</p>
											</div>
										</div>
									</div>
									<div class="sl-item b-warning">
										<div class="sl-content">
											<div class="SearchRecentTypeDate">
												<div class="SearchRecentType lefter">Prospects Enhance</div>
												<div class="cube-date">2 hrs ago</div>
											</div>
											<div class="SearchRecentContent">
												<p>Finished task 
													<a href="#" class="text-info">#features 4</a>.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Recent Search Ends-->
			</div>
		</div>
	</div>
	<!-- Cube DataBox Ends -->
</div>
<!-- Cube DashboardMainBox Ends -->