            
<!-- Cube DomainDataFinder Tool Box Starts -->
<div id="domainfinder" class="DomainDataFinder displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<div class="app-header white bg b-b">
		<div class="navbar">
			<a class="navbar-item pull-left hidden-lg-up p-r m-a-0">
				<i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">Domain Search</div>
		</div>
	</div>
	<div class="app-body">
		<div class="padding position-l-r max-w-750">
			<form action="#" class="m-b-md">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Enter @domain.com">
						<span class="input-group-btn">
							<button class="btn b-a no-shadow white" type="button">Grab Now</button>
						</span>
					</div>
				</form>
				<div id="domainsearchResult">
					<div class="SolidCubeLine"></div>
					<p class="m-b-md text-center">
						<strong>23</strong> Email Address found for: 
						<strong>dotmach.com</strong>
					</p>
				</div>
				<div class="tab-content">
					<div class="tab-pane p-v-sm active" id="Cube_DomainFinder_Result">
						<div class="box m-t p-y-md p-x DomainFinder_Inn_Result">
							<ul class="list">
								<li class="list-item">
									<div class="clear">
										<div class="DomainList_RowProfile">
											<div class="DomainList_RowProfile_Data w-48 avatar blue-grey radiusnone bordernone">FD</div>
										</div>
										<div class="DomainList_Row1">
											<div class="Pf-Name pull-left _700">Farooq A Rahim</div>
											<div class="pull-left">farooq@dotmach.com</div>
											<div class="pull-right">29 Sources</div>
										</div>
										<div class="DomainList_RowMid">
											<div class="Cube_domain_Row_Box">
												<div class="Cube_domain_Row_Icons">Prospects Insight</div>
												<div class="Cube_domain_Row_Icons">Save to Contact</div>
												<div class="Cube_domain_Row_Icons">+ Campaign</div>
												<div class="Cube_domain_Row_Icons">+ List</div>
											</div>
										</div>
									</div>
									<div class="midline"></div>
								</li>
								<li class="list-item">
									<div class="clear">
										<div class="DomainList_RowProfile">
											<div class="DomainList_RowProfile_Data w-48 avatar blue-grey radiusnone bordernone">CD</div>
										</div>
										<div class="DomainList_Row1">
											<div class="pull-left">contactus@dotmach.com</div>
											<div class="pull-right">7 Sources</div>
										</div>
										<div class="DomainList_RowMid">
											<div class="Cube_domain_Row_Box">
												<div class="Cube_domain_Row_Icons">Prospects Insight</div>
												<div class="Cube_domain_Row_Icons">Save to Contact</div>
												<div class="Cube_domain_Row_Icons">+ Campaign</div>
												<div class="Cube_domain_Row_Icons">+ List</div>
											</div>
										</div>
									</div>
									<div class="midline"></div>
								</li>
							</ul>
							<div class="p-x p-y m-x CubeReadMore_Box">
								<div class="CubeReadMoreCase text-center"> Fetch More Data 
									<span class="CubeReadMoreCount">76</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cube DomainDataFinder Tool Box Starts -->