            
<!-- Cube LocationSearch Tool Box Starts -->
<div id="locationfinder" class="LocationSearch displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<div class="app-header white bg b-b">
		<div class="navbar">
			<a class="navbar-item pull-left hidden-lg-up p-r m-a-0">
				<i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">Location Search</div>
		</div>
	</div>
	<div class="app-body">
		<div class="LocationSearchSearchBox padding position-l-r max-w-1200">
			<form action="#" class="m-b-md">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Enter Keywork">
						<input type="text" class="form-control" placeholder="Business Location">
							<span class="input-group-btn">
								<button class="btn b-a no-shadow white" type="button">Grab Now</button>
							</span>
						</div>
					</form>
					<div id="LocationSearchBoxResult">
						<div class="SolidCubeLine"></div>
						<p class="m-b-md text-center">Found 
							<strong>23</strong> Bussiness in 
							<strong>Location Name</strong> for the Keywork : 
							<strong>KitKat Shop</strong>
						</p>
					</div>
					<div class="tab-content">
						<div class="tab-pane p-v-sm active" id="Cube_DomainFinder_Result">
							<div class="box m-t p-y-md p-x DomainFinder_Inn_Result">
								<ul class="list">
									<li class="list-item">
										<div class="clear">
											<div class="DomainList_RowProfile">
												<div class="DomainList_RowProfile_Data w-48 avatar blue-grey radiusnone bordernone">FD</div>
											</div>
											<div class="DomainList_Row1">
												<div class="Pf-Name pull-left _700">Cloudion Technology Services Pvt Ltd</div>
												<div class="pull-right">dotmach.com</div>
											</div>
											<div class="DomainList_RowMid">
												<div class="Cube_domain_Row_Box">
													<div class="Cube_domain_Row_Text">Save to Contact</div>
													<div class="Cube_domain_Row_Ic_Box">
														<div class="Cube_domain_Row_FlatData">
															<div href="#" class="btn btn-icon btn-social white" title="Facebook">
																<i class="fa fa-facebook"></i>
																<i class="fa fa-facebook indigo"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Twitter">
																<i class="fa fa-twitter"></i>
																<i class="fa fa-twitter light-blue"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Google+">
																<i class="fa fa-google-plus"></i>
																<i class="fa fa-google-plus red-600"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Android">
																<i class="fa fa-android"></i>
																<i class="fa fa-android light-green"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Apple">
																<i class="fa fa-apple"></i>
																<i class="fa fa-apple grey-800"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="LinkedIn">
																<i class="fa fa-linkedin"></i>
																<i class="fa fa-linkedin light-blue-800"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Skype">
																<i class="fa fa-skype"></i>
																<i class="fa fa-skype light-blue"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Youtube">
																<i class=" ion-social-youtube-outline"></i>
																<i class=" ion-social-youtube-outline red-600"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Instagram">
																<i class="fa fa-instagram"></i>
																<i class="fa fa-insta
																	<who></who>gram light-blue-800">
																</i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Instagram">
																<i class="ion-person-stalker"></i>
																<i class="ion-person-stalker grey-800"></i>
															</div>
															<div href="#" class="btn btn-icon btn-social white" title="Instagram">
																<i class="ion-ios-email-outline"></i>
																<i class="ion-ios-email-outline  grey-800"></i>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="midline"></div>
									</li>
								</ul>
								<div class="p-x p-y m-x CubeReadMore_Box">
									<div class="CubeReadMoreCase text-center"> Fetch More Data 
										<span class="CubeReadMoreCount">76</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Cube LocationSearch Tool Box Ends -->