            
<!-- Cube LookUp Plus Tool Box Starts -->
<div id="LookUpPlus_Shell" class="LookUpPlus displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<div class="app-header white bg b-b">
		<div class="navbar">
			<a class="navbar-item pull-left hidden-lg-up p-r m-a-0">
				<i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">Orginization Look up</div>
		</div>
	</div>
	<div class="app-body">
		<div class="LookUpPlus_Box p-x position-l-r max-w-750">
			<div class="tab-content">
				<div class="CubeInn_Box_Main box m-t p-y-md p-x ">
					<form action="#" class="m-b-md">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Enter @domain.com">
								<span class="input-group-btn">
									<button class="btn b-a no-shadow white" type="button">Grab Now</button>
								</span>
							</div>
						</form>
						<!-- LookUp Plus Basic Info Starts -->
						<div class="CubeInn_Box box m-t p-y-md p-x">
							<div class="clear">
								<div class="CubeInn_DataRow_ProfileBox">
									<div class="LookUpPlus_Profile_Data w-90 avatar blue radiusnone bordernone text-3x">C</div>
								</div>
								<div class="CubeInn_DataRow pull-right">
									<span class="LookUpPlus_Name _700 text-lg">Cloudion Technology Services Pvt Ltd</span>
								</div>
								<div class="CubeInn_DataRow pull-right">
									<span class="LookUpPlus_Address pull-left text">Headquarters 1 Hacker Way Menlo Park, CA 94025</span>
								</div>
								<div class="CubeInn_DataRow MultiBox pull-right  p-y-sm">
									<div class="CubeInn_MultiBox_left ">
										<span class="LookUpPlus_Email pull-side _600">Email </span>
									</div>
									<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75 ">
										<span class="LookUpPlus_Email_Data pull-left w-full">farooq@dotmach.com</span>
										<span class="LookUpPlus_Email_Data pull-left w-full">farooq@cloudion.net</span>
										<span class="LookUpPlus_Email_Data pull-left w-full">farooqarahim@gmail.com</span>
									</div>
								</div>
								<div class="CubeInn_DataRow MultiBox pull-right  p-y-sm">
									<div class="CubeInn_MultiBox_left ">
										<span class="LookUpPlus_Phone pull-side _600">Phone </span>
									</div>
									<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
										<span class="LookUpPlus_Phone_Data pull-left w-full">+91 9995407110</span>
									</div>
								</div>
								<div class="CubeInn_DataRow MultiBox MultiRowColBox  pull-right">
									<!-- Website Info -->
									<div class="CubeInn_DataRow_ColBox MultiRowCol_List w-full clear p-y-sm">
										<div class="CubeInn_MultiBox_left ">
											<span class="LookUpPlus_Website pull-side _600">Website </span>
										</div>
										<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
											<span class="LookUpPlus_Website_Data pull-left w-full">https://cloudion.net</span>
										</div>
									</div>
									<!-- Website Info -->
									<!-- Industry Info -->
									<div class="CubeInn_DataRow_ColBox MultiRowCol_List w-full clear p-y-sm">
										<div class="CubeInn_MultiBox_left ">
											<span class="LookUpPlus_Website pull-side _600">Industry </span>
										</div>
										<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
											<span class="LookUpPlus_Website_Data pull-left w-full">Information Technology</span>
										</div>
									</div>
									<!-- Industry Info -->
									<!-- Type Info -->
									<div class="CubeInn_DataRow_ColBox MultiRowCol_List w-full clear p-y-sm">
										<div class="CubeInn_MultiBox_left ">
											<span class="LookUpPlus_Website pull-side _600">Type </span>
										</div>
										<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
											<span class="LookUpPlus_Website_Data pull-left w-full">Private Company</span>
										</div>
									</div>
									<!-- Type Info -->
									<!-- Founded Info -->
									<div class="CubeInn_DataRow_ColBox MultiRowCol_List w-full clear p-y-sm">
										<div class="CubeInn_MultiBox_left ">
											<span class="LookUpPlus_Website pull-side _600">Founded </span>
										</div>
										<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
											<span class="LookUpPlus_Website_Data pull-left w-full">2012</span>
										</div>
									</div>
									<!-- Founded Info -->
									<!-- Alexa Info -->
									<div class="CubeInn_DataRow_ColBox MultiRowCol_List w-full clear p-y-sm">
										<div class="CubeInn_MultiBox_left ">
											<span class="LookUpPlus_Website pull-side _600">Alexa Rank </span>
										</div>
										<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
											<span class="LookUpPlus_Website_Data pull-left w-full">45,154</span>
										</div>
									</div>
									<!-- Founded Info -->
								</div>
								<div class="CubeInn_DataRow pull-right">
									<div class="CubeInn_SocialProfileBox_Icons">
										<div id="SaveContact" class="Cube_Box_Button_Shell btn btn-icon btn-social white m-t">
											<i class="ion-ios-email-outline ">
												<span class="Cube_Box_Button_text">Save Contact</span>
											</i>
											<i class="ion-ios-email-outline  grey-800 ">
												<span class="Cube_Box_Button_Shell_Hover">Save Contact</span>
											</i>
										</div>
										<div id="AddtoCampaign" class="Cube_Box_Button_Shell btn btn-icon btn-social white  m-t">
											<i class="ion-ios-email-outline">
												<span class="Cube_Box_Button_text">Add to Campaign</span>
											</i>
											<i class="ion-ios-email-outline  grey-800 ">
												<span class="Cube_Box_Button_Shell_Hover">Add to Campaign</span>
											</i>
										</div>
										<div id="AddtoList" class="Cube_Box_Button_Shell btn btn-icon btn-social white  m-t">
											<i class="ion-ios-email-outline">
												<span class="Cube_Box_Button_text">Add to List</span>
											</i>
											<i class="ion-ios-email-outline  grey-800 ">
												<span class="Cube_Box_Button_Shell_Hover">Add to List</span>
											</i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- LookUp Plus Basic Info Ends -->
						<!-- LookUp Plus Social Profile  Starts -->
						<div class="CubeInn_Box box p-b p-t-sm p-x">
							<div class="clear">
								<div class="CubeInn_Box_Head p-y-sm p-x _700">Social Profile</div>
								<div class="CubeInn_Box_Data CubeInn_SocialProfileBox">
									<div class="CubeInn_SocialProfileBox_Iconsc_Box">
										<div class="CubeInn_SocialProfileBox_Icons">
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Facebook">
												<i class="fa fa-facebook"></i>
												<i class="fa fa-facebook indigo"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Twitter">
												<i class="fa fa-twitter"></i>
												<i class="fa fa-twitter light-blue"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Google+">
												<i class="fa fa-google-plus"></i>
												<i class="fa fa-google-plus red-600"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Android">
												<i class="fa fa-android"></i>
												<i class="fa fa-android light-green"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Apple">
												<i class="fa fa-apple"></i>
												<i class="fa fa-apple grey-800"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="LinkedIn">
												<i class="fa fa-linkedin"></i>
												<i class="fa fa-linkedin light-blue-800"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Skype">
												<i class="fa fa-skype"></i>
												<i class="fa fa-skype light-blue"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Youtube">
												<i class=" ion-social-youtube-outline"></i>
												<i class=" ion-social-youtube-outline red-600 m-r-sm"></i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Instagram">
												<i class="fa fa-instagram"></i>
												<i class="fa fa-insta
													<who></who>gram light-blue-800">
												</i>
											</div>
											<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Instagram">
												<i class="ion-person-stalker"></i>
												<i class="ion-person-stalker grey-800"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- LookUp Plus Social Profile  Ends -->
						<!-- LookUp Plus Contacts Founded Starts -->
						<div class="CubeInn_Box box p-b p-t-sm p-x">
							<div class="clear">
								<div class="CubeInn_Box_Head p-y-sm p-x _700">Contacts Found [29]</div>
								<div class="CubeInn_Box_Data">
									<div class="CubeInn_Box_Data_In Source_List">
										<div class="Contacts_Found_List_Data p-x-sm m-y-sm w-full clear box-Row-h-32px">
											<div class="Contacts_Found_Data_Icon m-r-sm pull-left">
												<div class="Contacts_Found_Data_Email_Icon w-32 avatar blue-grey radiusnone bordernone text-sm">FD</div>
											</div>
											<div class="Contacts_Found_Data_Email _700 pull-left text">farooq@dotmach.com</div>
											<div class="Contacts_Found_Source_Data pull-right">
												<div class="Contacts_Found_Source_Count pull-left m-r-sm _700">79</div>
												<div class="Contacts_Found_Source_Text pull-left">Source</div>
											</div>
										</div>
										<div class="Contacts_Found_List_Data p-x-sm m-y-sm w-full clear box-Row-h-32px">
											<div class="Contacts_Found_Data_Icon m-r-sm pull-left">
												<div class="Contacts_Found_Data_Email_Icon w-32 avatar blue-grey radiusnone bordernone text-sm">FD</div>
											</div>
											<div class="Contacts_Found_Data_Email _700 pull-left text">farooq@dotmach.com</div>
											<div class="Contacts_Found_Source_Data pull-right">
												<div class="Contacts_Found_Source_Count pull-left m-r-sm _700">79</div>
												<div class="Contacts_Found_Source_Text pull-left">Source</div>
											</div>
										</div>
									</div>
								</div>
								<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
							</div>
						</div>
						<!-- LookUp Plus Contacts Founded Ends -->
						<!-- LookUp Plus In Contact List Starts -->
						<div class="CubeInn_Box box p-b p-t-sm p-x">
							<div class="clear">
								<div class="CubeInn_Box_Head p-y-sm p-x _700">Contact Avaliable [5]</div>
								<div class="CubeInn_Box_Data">
									<div class="CubeInn_Box_Data_In ConnectedPople_List">
										<div class="ConnectedPople_List_Data p-x-sm p-b-sm clear">
											<div class="CubeInn_DataRow_Boxed_List pull-left m-x  mx-w-56px">
												<div class="ProspectInsightBox_Profile_Data w-56 avatar blue-grey radiusnone bordernone">FD</div>
												<div class="Source_List_Data_HostName text-center">Farooq A Rahim</div>
											</div>
											<div class="CubeInn_DataRow_Boxed_List pull-left m-x  mx-w-56px">
												<div class="ProspectInsightBox_Profile_Data w-56 avatar blue-grey radiusnone bordernone">FD</div>
												<div class="Source_List_Data_HostName text-center">Farooq</div>
											</div>
										</div>
									</div>
								</div>
								<div class="CubeInn_Box_Show_Data displayNone">Show Contact List</div>
							</div>
						</div>
						<!-- LookUp Plus In Contact List Ends -->
						<!-- Prospect Profile Activity Stream Starts -->
						<div class="CubeInn_Box box p-b p-t-sm p-x">
							<div class="clear">
								<div class="CubeInn_Box_Head p-y-sm p-x _700">Activity Timeline</div>
								<div class="CubeInn_Box_Data">
									<div class="CubeInn_Box_Data_In ConnectedPople_List">
										<div class="CubeInn_Box_Data_ActivityStream streamline m-b">
											<div class="Data_ActivityStream sl-item">
												<div class="sl-content">
													<div class="sl-date text-muted">2 minutes ago</div>
													<p>Saved to List : My Marketing Source</p>
												</div>
											</div>
											<div class="Data_ActivityStream sl-item">
												<div class="sl-content">
													<div class="sl-date text-muted">52 minutes ago</div>
													<p>Farooq Fetch Prospects Data using Email</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
							</div>
						</div>
						<!-- Prospect Profile Activity Stream Ends -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cube LookUp Plus Tool Box Ends -->