<!-- Cube ProspectInsight Tool Box Starts -->
<div id="ProspectInsight_Shell" class="ProspectInsight displayNone app-content box-shadow-z2 bg pjax-container" role="main">
	<div class="app-header white bg b-b">
		<div class="navbar">
			<a class="navbar-item pull-left hidden-lg-up p-r m-a-0">
				<i class="ion-navicon"></i>
			</a>
			<div class="navbar-item pull-left h5" id="pageTitle">Prospect Insight</div>
		</div>
	</div>
	<div class="app-body">
		<div class="ProspectInsightBox p-x position-l-r max-w-750">
			<div class="tab-content">
				<div class="CubeInn_Box_Main box m-t p-y-md p-x ">
					<form action="#" class="m-b-md">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="Enter email address name@example.com">
							<span class="input-group-btn">
								<button class="btn b-a no-shadow white" id="grabEmailData" type="button">Grab Now</button>
							</span>
						</div>
					</form>
					<!-- Prospect Profile Basic Info Starts -->
					<div class="CubeInn_Box box m-t p-y-md p-x">
						<div class="clear">
							<div class="CubeInn_DataRow_ProfileBox">
								<div class="ProspectInsightBox_Profile_Data w-90 avatar blue radiusnone bordernone text-3x">FD</div>
							</div>
							<div class="CubeInn_DataRow pull-right">
								<span class="Pf-Name _700 text-lg">Farooq A Rahim</span>
							</div>
							<div class="CubeInn_DataRow pull-right">
								<span class="pull-left text">Founder @ Cloudion Inc,</span>
							</div>
							<div class="CubeInn_DataRow MultiBox pull-right">
								<div class="CubeInn_MultiBox_left HeadEmail">
									<span class="pull-side _600">Email :</span>
								</div>
								<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
									<span class="pull-left w-full">farooq@dotmach.com</span>
									<span class="pull-left w-full">farooq@cloudion.net</span>
									<span class="pull-left w-full">farooqarahim@gmail.com</span>
								</div>
							</div>
							<div class="CubeInn_DataRow MultiBox pull-right">
								<div class="CubeInn_MultiBox_left HeadEmail">
									<span class="pull-side _600">Phone :</span>
								</div>
								<div class="CubeInn_MultiBox_Data Prospect_Email_List clear w-75">
									<span class="pull-left w-full">+91 9995407110</span>
								</div>
							</div>
							<div class="CubeInn_DataRow pull-right">
								<div class="CubeInn_SocialProfileBox_Icons">
									<div id="SaveContact" class="Cube_Box_Button_Shell btn btn-icon btn-social white m-t">
										<i class="ion-ios-email-outline ">
										<span class="Cube_Box_Button_text">Save Contact</span>
										</i>
										<i class="ion-ios-email-outline  grey-800 ">
										<span class="Cube_Box_Button_Shell_Hover">Save Contact</span>
										</i>
									</div>
									<div id="AddtoCampaign" class="Cube_Box_Button_Shell btn btn-icon btn-social white  m-t">
										<i class="ion-ios-email-outline">
										<span class="Cube_Box_Button_text">Add to Campaign</span>
										</i>
										<i class="ion-ios-email-outline  grey-800 ">
										<span class="Cube_Box_Button_Shell_Hover">Add to Campaign</span>
										</i>
									</div>
									<div id="AddtoList" class="Cube_Box_Button_Shell btn btn-icon btn-social white  m-t">
										<i class="ion-ios-email-outline">
										<span class="Cube_Box_Button_text">Add to List</span>
										</i>
										<i class="ion-ios-email-outline  grey-800 ">
										<span class="Cube_Box_Button_Shell_Hover">Add to List</span>
										</i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Prospect Profile Basic Info Ends -->
					<!-- Prospect Profile Social Profile  Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Social Profile</div>
							<div class="CubeInn_Box_Data CubeInn_SocialProfileBox">
								<div class="CubeInn_SocialProfileBox_Iconsc_Box">
									<div class="CubeInn_SocialProfileBox_Icons">
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Facebook">
											<i class="fa fa-facebook"></i>
											<i class="fa fa-facebook indigo"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Twitter">
											<i class="fa fa-twitter"></i>
											<i class="fa fa-twitter light-blue"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Google+">
											<i class="fa fa-google-plus"></i>
											<i class="fa fa-google-plus red-600"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Android">
											<i class="fa fa-android"></i>
											<i class="fa fa-android light-green"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Apple">
											<i class="fa fa-apple"></i>
											<i class="fa fa-apple grey-800"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="LinkedIn">
											<i class="fa fa-linkedin"></i>
											<i class="fa fa-linkedin light-blue-800"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Skype">
											<i class="fa fa-skype"></i>
											<i class="fa fa-skype light-blue"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Youtube">
											<i class=" ion-social-youtube-outline"></i>
											<i class=" ion-social-youtube-outline red-600 m-r-sm"></i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Instagram">
											<i class="fa fa-instagram"></i>
											<i class="fa fa-insta
											<who></who>gram light-blue-800">
											</i>
										</div>
										<div href="#" class="btn btn-icon btn-social white m-r-sm" title="Instagram">
											<i class="ion-person-stalker"></i>
											<i class="ion-person-stalker grey-800"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Prospect Profile Social Profile  Ends -->
					<!-- Prospect Profile Stats Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Prospect Stats</div>
							<div class="CubeInn_Box_Data">
								<div class="CubeInn_Box_Data_In Stats_list">
									<div class="Stats_list_Data p-x p-b-sm pull-left text-center m-x">
										<div class="Stats_list_Count _700 text-3x">2</div>
										<div class="Stats_list_Name">List</div>
									</div>
									<div class="Stats_list_Data p-x p-b-sm pull-left text-center m-x">
										<div class="Stats_list_Count _700 text-3x">0</div>
										<div class="Stats_list_Name">Campaigns</div>
									</div>
									<div class="Stats_list_Data p-x p-b-sm pull-left text-center m-x">
										<div class="Stats_list_Count _700 text-3x">256</div>
										<div class="Stats_list_Name">Email Send</div>
									</div>
									<div class="Stats_list_Data p-x p-b-sm pull-left text-center m-x">
										<div class="Stats_list_Count _700 text-3x">99</div>
										<div class="Stats_list_Name">Source</div>
									</div>
								</div>
							</div>
							<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
						</div>
					</div>
					<!-- Prospect Profile Stats Ends -->
					<!-- Prospect Profile Source Founded Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Source Found [29]</div>
							<div class="CubeInn_Box_Data">
								<div class="CubeInn_Box_Data_In Source_List">
									<div class="Source_List_Data p-x-sm p-b-sm">
										<div class="Source_List_Data_SourceTitle _700">
											<a href="#" target=_blank>Dotmach is an Awsome Product</a>
										</div>
										<div class="Source_List_Data_HostName">dotmach.com</div>
									</div>
									<div class="Source_List_Data p-x-sm p-b-sm">
										<div class="Source_List_Data_SourceTitle _700">
											<a href="#" target=_blank>Dotmach is an Awsome Product</a>
										</div>
										<div class="Source_List_Data_HostName">dotmach.com</div>
									</div>
									<div class="Source_List_Data p-x-sm p-b-sm">
										<div class="Source_List_Data_SourceTitle _700">
											<a href="#" target=_blank>Dotmach is an Awsome Product</a>
										</div>
										<div class="Source_List_Data_HostName">dotmach.com</div>
									</div>
								</div>
							</div>
							<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
						</div>
					</div>
					<!-- Prospect Profile Source Founded Ends -->
					<!-- Prospect Profile Connected People Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Connected People [5]</div>
							<div class="CubeInn_Box_Data">
								<div class="CubeInn_Box_Data_In ConnectedPople_List">
									<div class="ConnectedPople_List_Data p-x-sm p-b-sm clear">
										<div class="CubeInn_DataRow_Boxed_List pull-left m-x  mx-w-56px">
											<div class="ProspectInsightBox_Profile_Data w-56 avatar blue-grey radiusnone bordernone">FD</div>
											<div class="Source_List_Data_HostName text-center">Farooq A Rahimdfsfsdfsdfsdfdsfsdfsdfsdf</div>
										</div>
										<div class="CubeInn_DataRow_Boxed_List pull-left m-x  mx-w-56px">
											<div class="ProspectInsightBox_Profile_Data w-56 avatar blue-grey radiusnone bordernone">FD</div>
											<div class="Source_List_Data_HostName text-center">Farooq</div>
										</div>
									</div>
								</div>
							</div>
							<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
						</div>
					</div>
					<!-- Prospect Profile Connected People Ends -->
					<!-- Prospect Profile Work Info Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Work History [3]</div>
							<div class="CubeInn_Box_Data">
								<div class="CubeInn_Box_Data_In WorkHistory_List">
									<div class="WorkHistory_List_Data p-x-sm p-b-sm w-full  pull-left">
										<div class="WorkHistory_List_CompanyIcon_Box pull-left m-x">
											<div class="WorkHistory_List_Data_CompanyIcon w-40 avatar blue-grey radiusnone bordernone">FD</div>
										</div>
										<div class="WorkHistory_List_Company_Details pull-left m-x">
											<div class="WorkHistory_List_CompanyName _700">
												<a href="#" target=_blank>Dotmach is an Awsome Product</a>
											</div>
											<div class="WorkHistory_List_Position pull-left p-r-md">Project Manager</div>
											<div class="WorkHistory_List_Time pull-left">2015 - 2016</div>
										</div>
									</div>
									<div class="WorkHistory_List_Data p-x-sm p-b-sm  w-full  pull-left">
										<div class="WorkHistory_List_CompanyIcon_Box pull-left m-x">
											<div class="WorkHistory_List_Data_CompanyIcon w-40 avatar blue-grey radiusnone bordernone">FD</div>
										</div>
										<div class="WorkHistory_List_Company_Details pull-left m-x">
											<div class="WorkHistory_List_CompanyName _700">
												<a href="#" target=_blank>Dotmach is an Awsome Product</a>
											</div>
											<div class="WorkHistory_List_Position pull-left p-r-md">Project Manager</div>
											<div class="WorkHistory_List_Time pull-left">2015 - 2016</div>
										</div>
									</div>
								</div>
							</div>
							<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
						</div>
					</div>
					<!-- Prospect Profile Work Info Ends -->
					<!-- Prospect Profile Activity Stream Starts -->
					<div class="CubeInn_Box box p-b p-t-sm p-x">
						<div class="clear">
							<div class="CubeInn_Box_Head p-y-sm p-x _700">Activity Timeline</div>
							<div class="CubeInn_Box_Data">
								<div class="CubeInn_Box_Data_In ConnectedPople_List">
									<div class="CubeInn_Box_Data_ActivityStream streamline m-b">
										<div class="Data_ActivityStream sl-item">
											<div class="sl-content">
												<div class="sl-date text-muted">2 minutes ago</div>
												<p>Saved to List : My Marketing Source</p>
											</div>
										</div>
										<div class="Data_ActivityStream sl-item">
											<div class="sl-content">
												<div class="sl-date text-muted">52 minutes ago</div>
												<p>Farooq Fetch Prospects Data using Email</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="CubeInn_Box_Show_Data displayNone">Show All Source</div>
						</div>
					</div>
					<!-- Prospect Profile Activity Stream Ends -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Cube ProspectInsight Tool Box Starts -->