<title>flat-file > > ajax > handlebars</title>
<style type="text/css">
    /*
    body background using Crayola crayon color from
    Ben Welsh gist: https://gist.github.com/4348665
    */
    body {background: #926EAE;}
    #data-container {background: #fff; width: 960px; margin: 0 auto 0 auto; padding: 15px;}
    #data-details {margin: 10px auto 0 auto;}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <div id="data-container">
        <div id="data-details"></div>
    </div>
</body>




<script id="entry-template" type="text/x-handlebars-template">
    {{#ifvalue type equals="image"}}
        {{title}}
    {{/ifvalue}}
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
<script type="text/javascript" src="data-script.js"></script>
