img { width:200px; }
a {
 color: #0084b4;
 text-decoration:none;
}
a:hover { text-decoration : underline; }
div#anchor { width: 230px; }
div#anchor:hover { 
  padding: 12px; /* padding + border = 16px */
  border: 4px solid #ddd;
}
div {
  display: block; /* or inline-block */
  overflow: hidden;
/*height: 200px; */
  width: 200px;
  margin: 3px;
  padding: 15px; /* padding + border = 16px */
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  background: #fff;
  color: #333;
}
div:hover { 
  padding: 12px; /* padding + border = 16px */
  border: 4px solid #0084b4;