<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Concise Handlebars.js</title>
    <!-- 0a. CSS -->
    <link rel="stylesheet" href="style.css">
 
    <!-- 0a. JS -->
    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script><!-- online jquery.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.1.2/handlebars.min.js"></script><!-- online handlebars.js-->
  </head>
 
  <body>
    <!--1. Data (json format!) -->
    <script>
    var url='data.json'; // relative url : 'data.json'; protocole-relative absolute url: '//website.org/path/to/data.json';

    </script>
 
    <!-- 2. Anchor -->
    <div id="anchor">This div is the <b>#anchor</b>.</div>
 
    <!-- 3. Template -->
    <script id="entry-template" type="text/x-handlebars-template">

    </script>    
    <script id="tpl" type="text/template">
        {{#people}}
          {{#ifCond name "===" 'Hugo'}}
            <span>Big Hugo</span>
          {{else}}
            {{name}}
            Values are different!
          {{/ifCond}}
          {{#ifC name 'Hugo'}}
            <span>Big Hugo2</span>
          {{else}}
            {{name}}
            Values are different!
          {{/ifC}}          
            <div><img src="{{photo}}"><b><a href="{{twitter}}">{{family}} {{name}}</a></b> — {{title}}, {{place}} : {{introduction}}.</div>
        {{/people}}
    </script>
 
    <!--4. Handlebars.js slingshot -->
    <script>
      (function() {
          function checkCondition(v1, operator, v2) {
              switch(operator) {
                  case '==':
                      return (v1 == v2);
                  case '===':
                      return (v1 === v2);
                  case '!==':
                      return (v1 !== v2);
                  case '<':
                      return (v1 < v2);
                  case '<=':
                      return (v1 <= v2);
                  case '>':
                      return (v1 > v2);
                  case '>=':
                      return (v1 >= v2);
                  case '&&':
                      return (v1 && v2);
                  case '||':
                      return (v1 || v2);
                  default:
                      return false;
              }
          }
          Handlebars.registerHelper('ifC', function(v1, v2, options) {
            if(v1 === v2) {
              return options.fn(this);
            }
            return options.inverse(this);
          });
          Handlebars.registerHelper('ifCond', function (v1, operator, v2, options) {
              return checkCondition(v1, operator, v2)
                          ? options.fn(this)
                          : options.inverse(this);
          });
      }());
    //4a.function creation
    var slingshot = function (url, tplId, anchor) {
     $.getJSON(url, function(data) {
              var template = $(tplId).html();
              var stone = Handlebars.compile(template)(data);
              $(anchor).append(stone);
     });
  }
    //4b.function firing
    slingshot('data.json', '#tpl', '#anchor'); // since url = 'data.json' , we can use both notations.
    </script>
  </body>
</html>