
.displayNone {
    display: none;
}
.box-lined-header {
    width: 100%;
}
.box-lined-header h2 {
    color: #6f6f73;
    font-size: 1.3em;
    font-weight: bold;
    height: 56px;
    line-height: 52px;
    margin: 0;
    padding: 10px 2%;
    width: 100%;
}
.lefter {
    float: left;
}
.cube-date {
    float: left;
    margin-left: 5px;
}
.SearchRecentContent {
    clear: both;
    float: left;
    height: 24px;
    line-height: 24px;
}
.SearchRecentTypeDate {
    height: 24px;
    line-height: 24px;
}
.SearchRecentMBox .sl-item {
    clear: both;
    height: 52px;
    padding: 0 16px;
}
.SearchRecentMBox .sl-content {
    clear: both;
    display: table;
    width: 100%;
}
.SearchRecentMBox .sl-item::before, .SearchRecentMBox .sl-icon::before {
    top: 6px;
}
.SearchRecentMBox .sl-item::after {
    bottom: -3px;
}
.max-w-1200 {
    max-width: 1200px;
}
.max-w-900 {
    max-width: 900px;
}
.max-w-600 {
    max-width: 600px;
}
.max-w-750 {
    max-width: 750px;
}
.position-l-r {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
}
.radiusnone {
    border-radius: 0;
}
.bordernone {
    border: 0 none;
}
.DomainList_RowProfile {
    float: left;
    max-width: 50px;
}
.DomainList_Row1 {
    height: 26px;
    line-height: 26px;
}
.DomainList_Row1, .DomainList_RowMid {
    float: left;
    padding: 0 10px;
    width: calc(100% - 52px);
}
.CubeInn_Box_Data {
    float: left;
    padding: 3px 10px;
    width: 100%;
}
.CubeInn_DataRow_ProfileBox {
    float: left;
    max-width: 90px;
}
.CubeInn_DataRow {
    float: left;
    padding: 1px 15px;
    width: calc(100% - 90px);
}
.Pf-Name {
    float: left;
    margin-right: 10px;
}
.midline {
    background: rgba(0, 0, 0, 0.12) none repeat scroll 0 0;
    height: 1px;
    margin: 10px 0 0;
    width: 100%;
}
.DomainFinder_Inn_Result .list-item {
    padding: 7px 16px 4px;
}
.CubeReadMore_Box {
    background: #f3f3f3 none repeat scroll 0 0;
}
.Cube_domain_Row_Icons, .Cube_domain_Row_Text {
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 2px 10px 2px 0;
    padding: 6px 12px;
}
.LocationSearchSearchBox .input-group .form-control {
    width: 50%;
}
.CubeInn_MultiBox_left {
    float: left;
    max-width: 125px;
    min-width: 80px;
    padding-right: 15px;
}
.mx-w-100px {
    max-width: 100px;
    overflow: hidden;
}
.mx-w-56px {
    max-width: 56px;
    overflow: hidden;
}
.w-75 {
    float: left;
    max-width: 500px;
    width: 75%;
}
.w-90 {
    display: inline-block;
    height: 90px;
    text-align: center;
    width: 90px;
}
.box-Row-h-32px {
    height: 32px;
    line-height: 32px;
}
.Data_ActivityStream.sl-item {
    border-color: rgba(132, 140, 148, 0.59);
}
.Cube_Button_Icon {
    border-radius: unset;
    line-height: 36px;
    width: 36px;
}
.Cube_Box_Button_Shell {
    border-radius: 0;
    line-height: 36px;
    margin: 0 8px;
    width: 150px;
}
#AddtoCampaign.Cube_Box_Button_Shell {
    width: 178px;
}
#AddtoList.Cube_Box_Button_Shell {
    width: 132px;
}
.Cube_Box_Button_text {
    float: right;
    font-size: 15px;
    font-style: normal;
    padding: 0 16px 0 6px;
}
.Cube_Box_Button_Shell_Hover {
    float: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding: 0 12px 0 6px;
}
.navbar-brand img, .navbar-brand svg {
    max-height: 3rem;
    top: 1rem;
    width: 2.4rem;
}
.nav > li {
    margin: 14px auto;
}
i[class*="ion-"], i[class*=" ion-"] {
    font-size: 24px;
    vertical-align: -4px;
}
.folded .nav-color .nav > li > div::before {
    background: #98a4ae none repeat scroll 0 0;
    border-radius: 0;
    cursor: pointer;
}
.folded .nav > li > div .nav-icon {
    cursor: pointer;
}
.nav-profile {
    padding: 3px 8px;
}
.SearchRecentMBox {
    float: left;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 0 0 30px;
    width: 100%;
}
.sl-item::after {
    top: 16px;
}
#dashboardbox .app-body {
    padding-top: 5.5rem;
}
.dashboardbox .padding {
    float: left;
    width: 50%;
}
.recentactivities, .recentsearch {
    float: left;
    width: 50%;
}
.lookUpBox {
    background: #c9cdcf none repeat scroll 0 0;
    float: left;
    height: 32px;
    margin: 2px;
    width: 32px;
}
.contactBoxProfilePic {
    background: #eeeeee none repeat scroll 0 0;
    float: left;
    height: 36px;
    margin: 4px;
    width: 36px;
}
.contactBoxMid {
    float: left;
    width: calc(100% - 80px);
}
.contactBoxIndi {
    float: left;
    width: 100%;
}
.contactBox {
    float: left;
    height: 100%;
    width: 100%;
}
.lookUpBox > img {
    float: left;
    margin: 9px;
    width: 16px;
}
.contactBoxName {
    padding: 0 10px;
}
.contactBoxEmail {
    padding: 0 10px;
}
.app-aside.fade.nav-dropdown.folded {
    border-right: 1px solid #dedcdc;
}
#campaignsystem #subnav {
    width: 70px;
}
.input-group.campaignSearch {
}
.campaignSearch .form-control.form-control-sm {
    height: 44px;
}
.campaignSearch .btn.btn-default.btn-sm.no-shadow {
    background: #0476ff none repeat scroll 0 0;
    height: 44px;
    width: 82px;
}
.btn.info {
    border-radius: 0;
    padding: 11px 0;
    width: 100%;
}
.ContactSearch .form-control.form-control-sm {
    height: 44px;
}
.ContactSearch .btn.btn-default.btn-sm.no-shadow {
    background: #027ada none repeat scroll 0 0;
    height: 44px;
    width: 76px;
}
.nav-fold.dropup.nav-profile {
    padding: 2px 8px;
}

.appContentBox {
    float: right;
    position: relative;
    width: calc(100% - 64px);
}
.app-aside {
    background: #fff none repeat scroll 0 0;
}
.avatar.w-48.grey {
    line-height: 48px;
}
#contactbox .app-body-inner {
    width: calc(100% - 64px);
}